<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 id="banner">{{reviews[0].fName}} {{reviews[0].lName}}'s Reviews</h1>
    <div id="nav_bar">
        <a id="nav_btn" href="/dashboard">Home</a>
        <a id="nav_btn" href="/add_review">Add a review!</a>
        <a id="nav_btn" href="/logout">Logout</a>
    </div>
    
</body>
</html>