<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_review.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/show_review.css') }}">
    <title>Review</title>
</head>
<body>
    <h1 id="banner">Add a review!</h1>
    <div id="nav_bar">
        <a id="nav_btn" href="/dashboard">Home</a>
        <a id="nav_btn" href="/my_reviews/{{session['user_id']}}">My reviews</a>
        <a id="nav_btn" href="/logout">Logout</a>
    </div>
    <div id="review_container">
        <h2 class="block">{{review.user.fName}} {{review.user.lName.0}}'s review for {{review.restaurant_name}}</h2>
        <hr>
        <h3 class="block">{{review.review}}</h3>
        <hr>
        <h4 class="block space"><span class="red">Meatball Rating: </span>{{review.rating}}</h4>
        {% if review.is_blasted == 1 %}
            <h4 class="block space"><span class="red">Blasted with protein?: </span>You better believe it, bröther!</h4>
        {% elif review.is_blasted == 0 %}
            <h4 class="block space"><span class="red">Blasted with protein?: </span>Nope! Definitely not!</h4>
        {% endif %}
        {% if review.is_affordable == 1 %}
            <h4 class="block space"><span class="red">Affordable?: </span>Abso - lutely!</h4>
        {% elif review.is_affordable == 0 %}
            <h4 class="block space"><span class="red">Affordable?: </span>Better bring some extra cash!</h4>
        {% endif %}
        <h5 class="block space"><span class="red">Last updated: </span>{{review.updated_at}}</h5>
        <h5 class="block space"><span class="red">First written: </span>{{review.created_at}}</h5>

        <div id="like_dislike">
            {% if check_to_see_if_user_liked_review(session["user_id"], review.id) %}
            <form action="/delete_like/{{review.id}}" method="POST">
                <input type="hidden" name="user_id" id="user_id" value="{{session['user_id']}}">
                <input type="submit" name="like" id="like" value="">
            </form>
            <h5>Likes: {{likes_count}}</h5>
            {% else %}
            <form action="/add_like/{{review.id}}" method="POST">
                <input type="hidden" name="user_id" id="user_id" value="{{session['user_id']}}">
                <input type="submit" name="like" id="like" value="">
            </form>
            <h5>Likes: {{likes_count}}</h5>
            {% endif %}
            {% if check_to_see_if_user_disliked_review(session["user_id"], review.id) %}
            <form action="/delete_dislike/{{review.id}}" method="POST">
                <input type="hidden" name="user_id" id="user_id" value="{{session['user_id']}}">
                <input type="submit" name="dislike" id="dislike" value="">
            </form>
            <h5>Dislikes: {{dislikes_count}}</h5>
            {% else %}
            <form action="/add_dislike/{{review.id}}" method="POST">
                <input type="hidden" name="user_id" id="user_id" value="{{session['user_id']}}">
                <input type="submit" name="dislike" id="dislike" value="">
            </form>
            <h5>Dislikes: {{dislikes_count}}</h5>
            {% endif %}
        </div>
        {% if review.user_id == userId %}
            <div id="btns">
                <a href="/edit/{{review.id}}" class="btn btn_edit">Edit Review</a>
                <form action="/delete/{{review.id}}" method="POST">
                    <input value="Delete" type="submit" name="delete" id="delete" class="btn btn_delete" onclick="confirm('Are you sure you want to delete? This will be permanent!')">
                </form>
            </div>
        {% endif %}
    </div>
</body>
</html>