body {
    background: url("/static/imgs/meatpaper.jpeg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fancy_words {
    text-shadow: 0 1px 1px rgb(0, 0, 0, 0.8);
    font-weight: 600;
}


@keyframes myGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#banner {
    background-image: linear-gradient(-45deg, rgba(129, 243, 95, 0.3), rgba(53, 218, 12, 0.5), rgba(211, 207, 93, 0.6), rgba(235, 116, 61, 0.7), rgba(221, 52, 10, 0.9));
    text-shadow: 0 1px 1px rgb(0, 0, 0, 0.8);
    color: antiquewhite;
    border-bottom: 4px solid black;
    border-radius: 7px;
    padding: 15px;
    text-align: center;
    width: 90%;
    margin: auto;
}

#nav_bar {
    width: 80%;
    margin: auto;
    border-bottom: 2px solid black;
    box-shadow: 5px 5px 10px black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-size: 350% 350%;
    background-image: linear-gradient(-45deg, rgba(129, 243, 95, 0.3), rgba(53, 218, 12, 0.5), rgba(211, 207, 93, 0.6), rgba(235, 116, 61, 0.7), rgba(221, 52, 10, 0.9));
    animation-name: myGradient;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    /* border-top: 3px solid black; */
}

#nav_btn {
    background-color: rgb(0, 0, 0, 0.7);
    color: antiquewhite;
    text-decoration: none;
    font-weight: 900;
    text-shadow: 0 1px 1px rgb(0, 0, 0, 0.8);
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    padding: 7px;
}

#nav_btn:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 10px rgba(221, 52, 10, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
}

#form_container {
    display: flex;
    justify-content: center;
    margin: 35px auto 0;
    padding: 25px;
    width: 65%;
    border: 2px solid black;
    border-radius: 8px;
    background-image: radial-gradient(rgb(0, 0, 0, 0.5), rgb(0,0,0,0.9));
    color: antiquewhite;
}

.block {
    text-align: center;
    display: block;
    margin: auto;
}

.irish_border {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, rgb(237, 111, 14), rgb(0, 219, 99));
}

#restaurant_name {
    margin-bottom: 20px;
    background-color: rgb(128, 128, 128, 0.7);
    border-bottom: 5px solid rgb(0, 219, 99);
    transition: all 0.5s ease-in-out;
}

#restaurant_name:focus {
    background-color: whitesmoke;
    border-bottom: 5px solid rgb(237, 111, 14);
}

#review {
    margin-bottom: 20px;
    background-color: rgb(128, 128, 128, 0.7);
    border-bottom: 5px solid rgb(0, 219, 99);
    transition: all 0.5s ease-in-out;
}

#review:focus {
    background-color: whitesmoke;
    border-bottom: 5px solid rgb(237, 111, 14);
}

#check_boxes {
    margin-bottom: 20px;
    font-weight: 900;
}

.check_field {
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0, .8);
    /* border: 1px solid rgb(0, 219, 99); */
    box-shadow: 3px 3px 5px rgb(50, 76, 84),
                -2px -2px 5px rgb(0, 0, 0, 0.2);
    margin: 10px;
}

#checked_field {
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0, .8);
    /* border: 1px solid rgb(237, 111, 14); */
    box-shadow: inset 3px 3px 5px rgb(50, 76, 84),
                inset -2px -2px 5px rgb(0, 0, 0, 0.2);
    margin: 10px;
}

.checked {
    transform: scale(0.98);
}

#slider {
    min-height: fit-content;
    margin-bottom: 20px;
}

.range {
    -webkit-appearance: none;
    -moz-appearance: none;
    left: 50%;
    top: 50%;
    width: 200px;
    margin-top: 10px;
    transform: translate(-50%, -50%);
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: rgba(59,173,227,1);
    background: -moz-linear-gradient(45deg, rgba(129, 243, 95, 0.3), rgba(53, 218, 12, 0.5), rgba(211, 207, 93, 0.6), rgba(235, 116, 61, 0.7), rgba(221, 52, 10, 0.9) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(129, 243, 95, 0.3), rgba(53, 218, 12, 0.5), rgba(211, 207, 93, 0.6), rgba(235, 116, 61, 0.7), rgba(221, 52, 10, 0.9)));
    background: -webkit-linear-gradient(45deg, rgba(129, 243, 95, 0.3), rgba(53, 218, 12, 0.5), rgba(211, 207, 93, 0.6), rgba(235, 116, 61, 0.7), rgba(221, 52, 10, 0.9) 100%);
    background: -o-linear-gradient(45deg, rgba(129, 243, 95, 0.3), rgba(53, 218, 12, 0.5), rgba(211, 207, 93, 0.6), rgba(235, 116, 61, 0.7), rgba(221, 52, 10, 0.9) 100%);
    background: -ms-linear-gradient(45deg, rgba(129, 243, 95, 0.3), rgba(53, 218, 12, 0.5), rgba(211, 207, 93, 0.6), rgba(235, 116, 61, 0.7), rgba(221, 52, 10, 0.9) 100%);
    background: linear-gradient(45deg, rgba(129, 243, 95, 0.3), rgba(53, 218, 12, 0.5), rgba(211, 207, 93, 0.6), rgba(235, 116, 61, 0.7), rgba(221, 52, 10, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
    height: 2px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: transparent;
    background-image: url("/static/imgs/meatball.png");
    background-size: cover;
    transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
    cursor: -webkit-grab;
    -webkit-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: transparent;
    background-image: url("/static/imgs/meatball.png");
    background-size: cover;
    transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
    cursor: -moz-grab;
    -moz-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

#rangevalue {
    border-radius: 8px;
    padding: 3px;
    background-color: rgb(240, 248, 255, 0.8);
    box-shadow: 2px 2px 2px rgb(50, 76, 84);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: larger;
}

#flash_div{
    align-items: center;
    background-color: rgb(240, 248, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    left: 25%;
    top: 30%;
    margin: auto;
}

#submit_btn{
    display: block;
    margin: 35px auto;
    min-height: 50px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0, 0.8);
    color: antiquewhite;
    box-shadow: 3px 3px 5px 3px rgb(50, 76, 84),
                -2px -2px 4px 2px rgb(0, 0, 0, 0.2);
}

#submit_btn:hover{
    background-size: 300%;
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.966), rgba(61, 88, 55, 0.116), rgba(28, 83, 31, 0.952), rgba(56, 243, 31, 0.733), rgb(169, 241, 160));
    animation-name: myGradient;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.flash{
    display: block;
    border-radius: 8px;
    font-weight: bolder;
    color: orangered;
}

#flash_btn{
    display: block;
    margin: auto;
    padding: 5px;
    border-radius: 8px;
    width: 12%;
    font-weight: bolder;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px 2px black;
}

#flash_btn:hover{
    background-size: 300%;
    background-image: linear-gradient(-45deg, rgba(129, 243, 95, 0.3), rgba(53, 218, 12, 0.5), rgba(211, 207, 93, 0.6), rgba(235, 116, 61, 0.7), rgba(221, 52, 10, 0.9));
    animation-name: myGradient;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


