body {
    background-image: url("/static/imgs/meatpaper.jpeg");
    background-size: cover;
}

#banner {
    background-color: rgb(24,150,95, 0.5);
    text-shadow: 0 1px 1px rgb(0, 0, 0, 0.8);
    color: antiquewhite;
    border-bottom: 4px solid black;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    width: 90%;
    margin: auto;
}

@keyframes myGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#nav_bar {
    width: 80%;
    margin: auto;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-size: 350% 350%;
    background-image: linear-gradient(-45deg, rgba(243, 161, 67, 0.3), rgba(245, 124, 48, 0.5), rgba(247, 119, 39, 0.6), rgba(245, 87, 14, 0.7), rgba(221, 52, 10, 0.9));
    animation-name: myGradient;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    /* border-top: 3px solid black; */
}

#nav_btn {
    background-color: rgb(47, 120, 237, 0.7);
    color: antiquewhite;
    box-shadow: 3px 3px rgba(221, 52, 10, 0.9);
    text-decoration: none;
    text-shadow: 0 1px 1px rgb(0, 0, 0, 0.8);
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    padding: 7px;
}

#nav_btn:hover {
    background-color: rgba(8, 96, 238, 0.9);
    
}

#latest {
    margin: 20px;
    color: black;
}

ul {
    list-style: none;
}

#review_list {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
}

#review_card {
    padding: 12px;
    margin: 10px;
    width: 95%;
    border: 2px solid black;
    border-radius: 8px;
    background-image: radial-gradient(rgb(0, 0, 0, 0.5), rgb(0,0,0,0.9));
    color: antiquewhite;
}

#btn_container {
    display: flex;
    justify-content: center;
}

.green {
    background-color: rgb(24,150,95, 0.8);
}

.white {
    background-color: rgb(250, 235, 215, 0.8);
}

.orange {
    background-color: rgb(247,132,61, 0.8);
}